<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" 
                   xmlns:layout="http://www.thymeleaf.org"
                   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title layout:title-pattern="$CONTENT_TITLE - Controle de Veículos">Controle de Veículos</title>
  <link rel="shortcut icon" th:href="@{/images/logo.png}" />
  
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/vendors/mcdatepicker/mc-calendar.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/vendors/sweetalert2/sweetalert2.min.css}" />

  <script th:src="@{/js/vendors/alpinejs/cdn.min.js}" defer></script>
  <script th:src="@{/js/scriptmenus.js}" defer></script>
  <script th:src="@{/js/vendors/htmx/htmx.min.js}" defer></script>
  <script th:src="@{/js/vendors/mcdatepicker/mc-calendar.min.js}" defer></script>
  <script th:src="@{/js/vendors/sweetalert2/sweetalert2.all.min.js}" defer></script>
  <script th:src="@{/js/codigoninjadogodoi.js}" defer></script>

</head>

<body>
  <div class="container flex h-screen min-w-full flex-col">
    <div th:replace="~{layout/fragments/header :: header}"></div>

    <section class="flex flex-1">
      <div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

      <main id="main" class="flex flex-col align-middle w-full m-10">
          <div layout:fragment="conteudo">
              <h2 class="text-xl font-semibold text-gray-400 md:text-3xl">Bem-vindo ao Sistema</h2>
          </div>
      </main>

    </section>

    <div th:replace="~{layout/fragments/rodape :: rodape}"></div>
  </div>

  <div id="modal-placeholder"></div>

  <th:block layout:fragment="scripts"></th:block>

</body>
</html>