<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Alterar Veículo</title>
</head>

<body>
    <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">
        <div th:replace="~{layout/fragments/csrf :: csrf}"></div>
        <h2 class="text-xl font-semibold text-gray-400 md:text-3xl">Alterar Veículo</h2>

        <form th:hx-post="@{/veiculos/alterar}" hx-target="#main" hx-swap="outerHTML" th:object="${veiculo}" class="w-2/3 mt-10">

            <div class="flex flex-col">
                <label for="codigo" class="block text-gray-700 font-medium mb-2">Código</label>
                <input type="number" th:field="*{codigo}" disabled class="w-1/2 py-3 px-4 text-gray-500 border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none" />
                <input type="hidden" th:field="*{codigo}">

                <div th:replace="~{layout/fragments/forms :: inputtext('Placa', 'placa')}"></div>
                <div th:replace="~{layout/fragments/forms :: inputtext('Modelo', 'modelo')}"></div>
                <div th:replace="~{layout/fragments/forms :: inputtext('Ano', 'ano')}"></div>
                <div th:replace="~{layout/fragments/forms :: inputtext('Quilometragem', 'quilometragem')}"></div>

                <div>
                    <button type="submit" class="mt-5 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200">Alterar</button>
                </div>
            </div>
        </form>
    </main>
</body>
</html>