<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Cadastrar Veículo</title>
</head>

<body>
    <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">
        <div th:replace="~{layout/fragments/csrf :: csrf}"></div>
        <h2 class="text-xl font-semibold text-gray-400 md:text-3xl">Cadastrar Veículo</h2>

        <form th:hx-post="@{/veiculos/cadastrar}" hx-target="#main" hx-swap="outerHTML" th:object="${veiculo}" class="w-2/3 mt-10">
            <div class="flex flex-col">
                <div th:replace="~{layout/fragments/forms :: inputtext('Placa', 'placa')}"></div>
                <div th:replace="~{layout/fragments/forms :: inputtext('Modelo', 'modelo')}"></div>
                <div th:replace="~{layout/fragments/forms :: inputtext('Ano', 'ano')}"></div>
                <div th:replace="~{layout/fragments/forms :: inputtext('Quilometragem', 'quilometragem')}"></div>

                <div>
                    <button type="submit" class="mt-5 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200">Cadastrar</button>
                </div>
            </div>
        </form>

        <div th:if="${notificacao != null}" th:object="${notificacao}">
            <input type="hidden" id="mensagem" th:value="*{mensagem}">
            <input type="hidden" id="tipo" th:value="*{tipo}">
            <input type="hidden" id="intervalo" th:value="*{intervalo}">
        </div>
    </main>
</body>
</html>