<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Listar Veículos</title>
</head>

<body>
    <main layout:fragment="conteudo" th:fragment="tabela" id="main" class="flex flex-col align-middle w-full m-10">
        <div th:replace="~{layout/fragments/csrf :: csrf}"></div>
        <h2 class="text-xl font-semibold text-gray-400 md:text-3xl">Veículos</h2>

        <div class="hidden md:flex flex-col mt-5">
            <div class="overflow-x-auto">
                <div class="min-w-full inline-block align-middle">
                    <div class="border rounded-xl overflow-hidden shadow">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead>
                                <tr>
                                    <div th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'codigo', 'Código', '')}"></div>
                                    <div th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'placa', 'Placa', '')}"></div>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Modelo</th>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Ano</th>
                                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Km</th>
                                    <th scope="col" colspan="2" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${pagina.vazia}">
                                    <td colspan="5" class="px-5">Nenhum veículo encontrado</td>
                                </tr>
                                <tr th:each="veiculo : ${pagina.conteudo}" class="odd:bg-white even:bg-gray-100 hover:bg-gray-200">
                                    <td th:text="${veiculo.codigo}" class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"></td>
                                    <td th:text="${veiculo.placa}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"></td>
                                    <td th:text="${veiculo.modelo}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"></td>
                                    <td th:text="${veiculo.ano}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"></td>
                                    <td th:text="${veiculo.quilometragem}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"></td>
                                    <td class="px-6 py-4 whitespace-nowrap text-end text-sm text-blue-600 font-medium">
                                        <a th:hx-get="@{/veiculos/alterar/{codigo}(codigo=${veiculo.codigo})}" hx-target="#main" hx-swap="outerHTML" class="cursor-pointer text-blue-600 hover:text-blue-500 decoration-2 hover:underline focus:outline-hidden focus:underline">Alterar</a>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-end text-sm text-red-600 font-medium">
                                        <a th:hx-get="@{/veiculos/remover/{codigo}(codigo=${veiculo.codigo})}" hx-target="#main" hx-swap="outerHTML" th:hx-confirm="${'Você vai remover o veículo ' + veiculo.placa + '!'}" class="cursor-pointer text-red-600 hover:text-red-500 decoration-2 hover:underline focus:outline-hidden focus:underline">Remover</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{layout/fragments/paginacao :: paginacao(${pagina})}"></div>

        <div th:each="veiculo : ${pagina.conteudo}" class="md:hidden flex flex-col mt-5">
            <div class="overflow-x-auto">
                <div class="min-w-full inline-block align-middle">
                    <div class="border rounded-xl overflow-hidden shadow">
                        <div class="m-3">
                            <p th:text="'Placa: ' + ${veiculo.placa}"></p>
                            <p th:text="'Modelo: ' + ${veiculo.modelo}"></p>
                            <p th:text="'Ano: ' + ${veiculo.ano}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>