<nav th:fragment="menu" class="mt-10">
    
    <div x-data="{ open: false }">
      <button th:replace="~{layout/fragments/menu-item-button :: menu-item-button('Veículo', ~{::#veiculo-icon})}"></button>
      <div x-show="open" class="space-y-4 ps-10">
        <div th:replace="~{layout/fragments/menu-item-option :: menu-item-option('Cadastrar', @{/veiculos/cadastrar}, ~{::#cadastrar-icon})}"></div>
        <div th:replace="~{layout/fragments/menu-item-option :: menu-item-option('Pesquisar', @{/veiculos/abrirpesquisar}, ~{::#pesquisar-icon})}"></div>
      </div>
    </div>

    <div x-data="{ open: false }">
        <button th:replace="~{layout/fragments/menu-item-button :: menu-item-button('Funcionário', ~{::#funcionario-icon})}"></button>
        <div x-show="open" class="space-y-4 ps-10">
          <div th:replace="~{layout/fragments/menu-item-option :: menu-item-option('Cadastrar', @{/funcionarios/cadastrar}, ~{::#cadastrar-icon})}"></div>
          <div th:replace="~{layout/fragments/menu-item-option :: menu-item-option('Pesquisar', @{/funcionarios/abrirpesquisar}, ~{::#pesquisar-icon})}"></div>
        </div>
    </div>

    <div x-data="{ open: false }">
      <button th:replace="~{layout/fragments/menu-item-button :: menu-item-button('Saídas', ~{::#saida-icon})}"></button>
      <div x-show="open" class="space-y-4 ps-10">
        <div th:replace="~{layout/fragments/menu-item-option :: menu-item-option('Registrar Saída', @{/saidas/registrar}, ~{::#cadastrar-icon})}"></div>
        <div th:replace="~{layout/fragments/menu-item-option :: menu-item-option('Consultar', @{/saidas/pesquisar}, ~{::#pesquisar-icon})}"></div>
      </div>
    </div>

    <div x-data="{ open: false }" sec:authorize="hasRole('ADMIN')">
        <button th:replace="~{layout/fragments/menu-item-button :: menu-item-button('Relatórios', ~{::#relatorios-icon})}"></button>
        <div x-show="open" class="space-y-4 ps-10">
            <div class="flex items-center hover:text-white">
                <svg th:replace="~{::#pdf-icon}"></svg>
                <a th:href="@{/relatorios/saidas-por-funcionario}" target="_blank" class="cursor-pointer px-2 text-gray-400 hover:text-white">Saídas por Funcionário</a>
            </div>
        </div>
    </div>

    <div x-data="{ open: false }" sec:authorize="hasRole('ADMIN')">
        <button th:replace="~{layout/fragments/menu-item-button :: menu-item-button('Usuários', ~{::#pessoa-icon})}"></button>
        <div x-show="open" class="space-y-4 ps-10">
            <div th:replace="~{layout/fragments/menu-item-option :: menu-item-option('Cadastrar', @{/usuarios/cadastrar}, ~{::#cadastrar-icon})}"></div>
        </div>
    </div>

</nav>