<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Consultar Saídas</title>
</head>
<body>
    <div layout:fragment="conteudo" id="content-wrapper">
        <h2 class="text-xl font-semibold text-gray-400 md:text-3xl">Histórico de Saídas</h2>

        <div th:if="${notificacao != null}" th:object="${notificacao}">
            <input type="hidden" id="mensagem" th:value="*{mensagem}">
            <input type="hidden" id="tipo" th:value="*{tipo}">
            <input type="hidden" id="intervalo" th:value="*{intervalo}">
        </div>

        <div class="hidden md:flex flex-col mt-10">
            <div class="overflow-x-auto">
                <div class="min-w-full inline-block align-middle">
                    <div class="border rounded-xl overflow-hidden shadow">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead>
                                <tr>
                                    <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Funcionário</th>
                                    <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Veículo</th>
                                    <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Data Saída</th>
                                    <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Data Retorno</th>
                                    <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Destino</th>
                                    <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="saida : ${saidas}" class="odd:bg-white even:bg-gray-100">
                                    <td th:text="${saida.funcionario.nome}" class="px-6 py-4"></td>
                                    <td th:text="${saida.veiculo.placa}" class="px-6 py-4"></td>
                                    <td th:text="${#temporals.format(saida.dataHoraSaida, 'dd/MM/yyyy HH:mm')}" class="px-6 py-4"></td>
                                    <td th:text="${saida.dataHoraRetorno != null ? #temporals.format(saida.dataHoraRetorno, 'dd/MM/yyyy HH:mm') : '---'}" class="px-6 py-4"></td>
                                    <td th:text="${saida.destino}" class="px-6 py-4"></td>
                                    <td class="px-6 py-4">
                                        <a th:if="${saida.dataHoraRetorno == null}" 
                                           th:hx-get="@{/saidas/retornar/{id}(id=${saida.codigo})}" 
                                           hx-target="#modal-placeholder" 
                                           hx-swap="innerHTML"
                                           class="cursor-pointer text-blue-600 hover:text-blue-500">Registrar Retorno</a>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(saidas)}">
                                    <td colspan="6" class="px-5 py-4 text-center">Nenhuma saída registrada.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        </div>
</body>
</html>